* {
    margin: 0;
}

html {
    min-width: 1700px;
}

body{

    background-color: rgb(219, 205, 189);
}

header{
    background-color: rgb(37, 32, 26);
    color: rgb(255, 255, 255);
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    font-family: 'Handlee', cursive;
    font-size: 40px;
    font-weight: 900;
    cursor: pointer;
}


main{
    display: flex;
    background-color: rgb(37, 32, 26);
}

#left_div{
    width: 30%;  
    background-color: rgb(160, 160, 160);
    display: flex; 
    flex-direction: column;
}

#right_div{
    width: 70%;
    background-color: rgb(37, 32, 26); 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#right_div > h1{
    margin-left: 60px;
    color: rgb(223, 223, 223);
}

#picture-table{
    border-collapse: separate;
    border-spacing: 30px 30px;
}



.picture {
    color: white;
    text-align: center;
}

.picture > p {
    margin-top: 10px;
}

.image {
    width: 270px;
    height: 350px;
}


