html {
  font-size: 16px;
}

#gallery_start {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  position: relative;
}

#image-div {
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: left;
  align-items: center;
}

video {
  z-index: -999;
  object-fit: cover;
}

#start_btn {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  padding: 30px 50px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 5px;
  display: inline-block;
  margin-left: 10%;
  cursor: pointer;
  z-index: 1000;
  position: absolute;
  animation-duration: 3s;
  animation-name: rainbowLink;
  animation-iteration-count: infinite;
}

#main-div {
  display: flex;
  flex-direction: row;
  width: 60%;
  height: 100%;
  position: absolute;
  right: 0;
}

#fold-div {
  width: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#open_btn {
  background-color: rgb(45, 119, 255);
  border-style: none;
  width: 60%;
  height: 10%;
  color: white;
}

#gallery_info-div {
  display: flex;
  flex-direction: column;
  width: 90%;
}

#gallery_info {
  display: flex;
  flex-direction: column;
  height: 50%;
  background-color: rgb(36, 35, 34, 0.9);
  padding: 5%;
}

#gallery_info > h1 {
  font-size: 3rem;
  color: rgb(240, 240, 240);
}

#gallery_info > textarea {
  resize: none;
  width: 100%;
  height: 80%;
  margin: 5% 0;
  box-sizing: border-box;
  font-size: 1.5rem;
  background-color: transparent;
  border-style: none;
  /* padding: 3px; */
  outline: none;
  line-height: 40px;
  letter-spacing: -1px;
  color: rgb(221, 221, 221);
}

#gallery_info > p {
  color: rgb(255, 210, 112);
}

#gallery_review {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  padding: 0 5%;
  box-sizing: border-box;
  background-color: rgb(36, 35, 34, 0.9);
}

#gallery_review > h1 {
  font-size: 2rem;
  color: white;
  margin-bottom: 20px;
  width: 100%;
}

#gallery_review_table {
  border-collapse: separate;
  border-spacing: 5px 3px;
}

#gallery_review_table > thead {
  margin: 5px;
}

#review_name {
  width: 20%;
  color: white;
  font-weight: bold;
}

#review_content {
  width: 70%;
  color: white;
  font-weight: bold;
}

#review_btn {
  width: 10%;
}

.review_element {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: none;
  box-shadow: none;
  border-radius: 3px;
}

#save_btn {
  background-color: rgb(85, 170, 255);
  color: rgb(255, 255, 255);
  font-weight: bold;
  border: none;
  box-shadow: none;
  border-radius: 3px;
  cursor: pointer;
}

#gallery_review_table > tbody > tr > td {
  padding: 5px;
  background-color: rgb(238, 238, 238);
  color: rgb(88, 88, 88);
  border-radius: 3px;
}

#page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 15%;
  margin-top: 15px;
}

#page > a > input {
  padding: 5px;
  background-color: rgb(35, 145, 255);
  color: rgb(255, 255, 255);
  font-weight: bold;
  border: none;
  box-shadow: none;
  border-radius: 3px;
  cursor: pointer;
  width: 25px;
}

.logo {
  position: absolute;
  cursor: pointer;
  z-index: 1000;
  font-size: 40px;
  font-weight: 900;
  color: rgb(255, 255, 255);
  font-family: "Handlee", cursive;
  padding: 30px 0px 0px 30px;
}

.scroll {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: rgb(124, 113, 99);
}

.frame_image-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  margin: 10vh 10vw 0vh 10vw;
}

.frame_image-div > div:nth-child(1) {
  position: relative;
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame_image-div > div:nth-child(1) > img:nth-child(1) {
  position: absolute;
}

.frame_image-div > div:nth-child(1) > img:nth-child(2) {
  position: absolute;
}

.frame_image-div > div:nth-child(2) {
  position: relative;
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame_image-div > div:nth-child(2) > img:nth-child(1) {
  position: absolute;
}

.frame_image-div > div:nth-child(2) > img:nth-child(2) {
  position: absolute;
}

.frame_image-div > div:nth-child(3) {
  position: relative;
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame_image-div > div:nth-child(3) > img:nth-child(1) {
  position: absolute;
}

.frame_image-div > div:nth-child(3) > img:nth-child(2) {
  position: absolute;
}

#review_go_btn {
  display: inline-block;
  position: absolute;
  background-color: rgb(36, 35, 34);
  color: rgb(255, 255, 255);
  font-weight: bold;
  border: none;
  box-shadow: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 3rem;
  padding: 10px 30px;
  height: 100px;
  margin-top: 30vh;
  left: 40vw;
  top: 10vh;
}

@keyframes disappear {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(90%);
  }
}

@-webkit-keyframes disappear {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(90%);
  }
}

@keyframes appear {
  from {
    transform: translateX(90%);
  }
  to {
    transform: translateX(0);
  }
}

@-webkit-keyframes appear {
  0% {
    transform: translateX(90%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes rainbowLink {
  0% {
    color: #ff2a2a;
    border-color: #ff2a2a;
  }

  15% {
    color: #ff7a2a;
    border-color: #ff7a2a;
  }

  30% {
    color: #ffc52a;
    border-color: #ffc52a;
  }

  45% {
    color: #43ff2a;
    border-color: #43ff2a;
  }

  60% {
    color: #2a89ff;
    border-color: #2a89ff;
  }

  75% {
    color: #202082;
    border-color: #202082;
  }

  90% {
    color: #6b2aff;
    border-color: #6b2aff;
  }

  100% {
    color: #f70bff;
    border-color: #f70bff;
  }
}
